<lasso-page package-path="./browser.json"/>
<include("../layout/template/index.marko", input)>
<@main>
<h1>
    Welcome to /secure, ${input.credentials.username}!
</h1>
<div id="users">

</div>
</@main>
</include>